[user]
	email = freddie.rice@gmail.com
	name = Freddie Rice
[safe]
	directory = /opt/flutter
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
